@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --body-large-400-font-family: "Public Sans", Helvetica;
  --body-large-400-font-size: 18px;
  --body-large-400-font-style: normal;
  --body-large-400-font-weight: 400;
  --body-large-400-letter-spacing: 0px;
  --body-large-400-line-height: 24px;
  --body-large-500-font-family: "Public Sans", Helvetica;
  --body-large-500-font-size: 18px;
  --body-large-500-font-style: normal;
  --body-large-500-font-weight: 500;
  --body-large-500-letter-spacing: 0px;
  --body-large-500-line-height: 24px;
  --body-medium-400-font-family: "Public Sans", Helvetica;
  --body-medium-400-font-size: 16px;
  --body-medium-400-font-style: normal;
  --body-medium-400-font-weight: 400;
  --body-medium-400-letter-spacing: 0px;
  --body-medium-400-line-height: 24px;
  --body-medium-500-font-family: "Public Sans", Helvetica;
  --body-medium-500-font-size: 16px;
  --body-medium-500-font-style: normal;
  --body-medium-500-font-weight: 500;
  --body-medium-500-letter-spacing: 0px;
  --body-medium-500-line-height: 24px;
  --body-medium-600-font-family: "Public Sans", Helvetica;
  --body-medium-600-font-size: 16px;
  --body-medium-600-font-style: normal;
  --body-medium-600-font-weight: 600;
  --body-medium-600-letter-spacing: 0px;
  --body-medium-600-line-height: 24px;
  --body-small-400-font-family: "Public Sans", Helvetica;
  --body-small-400-font-size: 14px;
  --body-small-400-font-style: normal;
  --body-small-400-font-weight: 400;
  --body-small-400-letter-spacing: 0px;
  --body-small-400-line-height: 20px;
  --body-small-500-font-family: "Public Sans", Helvetica;
  --body-small-500-font-size: 14px;
  --body-small-500-font-style: normal;
  --body-small-500-font-weight: 500;
  --body-small-500-letter-spacing: 0px;
  --body-small-500-line-height: 20px;
  --body-small-600-font-family: "Public Sans", Helvetica;
  --body-small-600-font-size: 14px;
  --body-small-600-font-style: normal;
  --body-small-600-font-weight: 600;
  --body-small-600-letter-spacing: 0px;
  --body-small-600-line-height: 20px;
  --body-tiny-600-font-family: "Public Sans", Helvetica;
  --body-tiny-600-font-size: 12px;
  --body-tiny-600-font-style: normal;
  --body-tiny-600-font-weight: 600;
  --body-tiny-600-letter-spacing: 0px;
  --body-tiny-600-line-height: 16px;
  --body-XL-400-font-family: "Public Sans", Helvetica;
  --body-XL-400-font-size: 20px;
  --body-XL-400-font-style: normal;
  --body-XL-400-font-weight: 400;
  --body-XL-400-letter-spacing: 0px;
  --body-XL-400-line-height: 28px;
  --body-XL-600-font-family: "Public Sans", Helvetica;
  --body-XL-600-font-size: 20px;
  --body-XL-600-font-style: normal;
  --body-XL-600-font-weight: 600;
  --body-XL-600-letter-spacing: 0px;
  --body-XL-600-line-height: 28px;
  --display-04-font-family: "Public Sans", Helvetica;
  --display-04-font-size: 40px;
  --display-04-font-style: normal;
  --display-04-font-weight: 600;
  --display-04-letter-spacing: 0px;
  --display-04-line-height: 48px;
  --dropdown-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.12);
  --gray-00: rgba(255, 255, 255, 1);
  --gray-100: rgba(228, 231, 233, 1);
  --gray-300: rgba(173, 183, 188, 1);
  --gray-400: rgba(146, 159, 165, 1);
  --gray-50: rgba(242, 244, 245, 1);
  --gray-500: rgba(119, 135, 143, 1);
  --gray-600: rgba(95, 108, 114, 1);
  --gray-700: rgba(71, 81, 86, 1);
  --gray-800: rgba(48, 54, 57, 1);
  --gray-900: rgba(25, 28, 31, 1);
  --heading-03-font-family: "Public Sans", Helvetica;
  --heading-03-font-size: 24px;
  --heading-03-font-style: normal;
  --heading-03-font-weight: 600;
  --heading-03-letter-spacing: 0px;
  --heading-03-line-height: 32px;
  --heading-06-font-family: "Public Sans", Helvetica;
  --heading-06-font-size: 16px;
  --heading-06-font-style: normal;
  --heading-06-font-weight: 700;
  --heading-06-letter-spacing: 0.19200000762939454px;
  --heading-06-line-height: 56px;
  --heading-07-font-family: "Public Sans", Helvetica;
  --heading-07-font-size: 14px;
  --heading-07-font-style: normal;
  --heading-07-font-weight: 700;
  --heading-07-letter-spacing: 0.1680000066757202px;
  --heading-07-line-height: 48px;
  --label-02-font-family: "Public Sans", Helvetica;
  --label-02-font-size: 16px;
  --label-02-font-style: normal;
  --label-02-font-weight: 500;
  --label-02-letter-spacing: 0px;
  --label-02-line-height: 24px;
  --label-03-font-family: "Public Sans", Helvetica;
  --label-03-font-size: 14px;
  --label-03-font-style: normal;
  --label-03-font-weight: 500;
  --label-03-letter-spacing: 0px;
  --label-03-line-height: 20px;
  --primary-500: rgba(250, 130, 50, 1);
  --warning-400: rgba(239, 211, 61, 1);
}